<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.app02.dao.extend.SurveyVMMapper">
 
  <select id="findAllSurveyVM" resultMap="SurveyVMResultMap">
    select * from poll_survey
  </select>
  
  
  <select id="findSurveyByIdVM" parameterType="long" resultMap="SurveyVMResultMap">
  select * from poll_survey where id=#{id}
  </select>
  
  
  <resultMap type="com.briup.app02.bean.vm.SurveyVM" id="SurveyVMResultMap">
  	<id column="id" property="id"/>
  	<result column="state" property="state"/>
  	<result column="average" property="average"/>
  	<result column="surveydate" property="surveydate"/>
  	<association  
  		column="questionnaire_id" 
  		property="questionnaire" 
  		select="com.briup.app02.dao.QuestionnaireMapper.findQuestionnaireById">
  	</association>
  	<association  
  		column="user_id" 
  		property="user" 
  		select="com.briup.app02.dao.UserMapper.findUserById">
  	</association>
  	<association  
  		column="clazz_id" 
  		property="clazz" 
  		select="com.briup.app02.dao.ClazzMapper.findClazzById">
  	</association>
  	<association  
  		column="course_id" 
  		property="course" 
  		select="com.briup.app02.dao.CourseMapper.findCourseById">
  	</association>
  </resultMap>
  
  
</mapper>